.overflowHidden {
    overflow: hidden; }

.backgroundColor {
    background: linear-gradient(45deg, #464866 0%, #25274D 100%);
}

.rowHeight {
    height: 95vh;
}

.slantAfter:after {
    content: "";
    position: absolute;
    bottom: -100px;
    left: -50px;
    height: 200px;
    width: 130%;
    background-color: #2b2b2b;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
    z-index: 10;
}

