.darkTransparentBackground {
    background :rgba(50,44,88);
    box-shadow: 10px 10px 8px #272727;
    border-radius: 10px;
}

.marginsforTable {
    padding : 15px 20px;
}

.roundedCorners {
    border-radius: 10px;
}